@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Access application</h2>
        <p><a class="btn btn-primary" href="/app/buy">Buy ticket</a></p>
        <p><a class="btn btn-success" href="/App/BuyETicket">Buy E-ticket</a></p>
</div>
    
    <div class="col-md-6">
        <h2>Raport application</h2>
        <p>Amount of people who bought tickets for specific zone > <a class="btn btn-primary" href="/raport/people">Count</a></p>
        <p>Amount of tickets bought in specific type > <a class="btn btn-primary" href="/raport/ticketType">Count</a></p>
        <p>Total profit > <a class="btn btn-primary" href="/raport/totalProfit">Count</a></p>
        <p>History of transactions for day > <a class="btn btn-success" href="/raport/transactions">Search</a></p>
        <p>Check which tickets bought user > <a class="btn btn-success" href="/raport/user">Search</a></p>
        
    </div>
</div>