@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Aplikacja dostępowa</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
    <div class="col-md-6">
        <h2>Aplikacja raportowa</h2>
        <p>Liczba osób kupujących bilet na daną strefę > <a class="btn btn-primary" href="/raport/people">Policz</a></p>
        <p>Ilość zakupionych biletów danego rodzaju > <a class="btn btn-primary" href="/raport/ticketType">Policz</a></p>
        <p>Łączny zarobek ze sprzedaży biletów > <a class="btn btn-primary" href="/raport/totalProfit">Policz</a></p>
        <p>Znajdź historię z danego dnia > <a class="btn btn-success" href="/raport/transactions">Szukaj</a></p>
        <p>Sprawdź jakie bilety kupowali użytkownicy > <a class="btn btn-success" href="/raport/user">Szukaj</a></p>
        
    </div>
</div>