@model TicketRetailSystem.ViewModels.CountPeopleViewModel
@{
    ViewBag.Title = "Statystyka zakupu biletów";
}

<h2>Statystyka zakupu biletów</h2>

<div class="panel-group">
    @foreach (var tt in Model.TicketTypesWithAmount)
    {
        <div class="panel panel-default">
            <div class="panel-heading">Strefa : @tt.Zone</div>
            <div class="panel-body">Liczba osob ktore zakupily bilet: @tt.AmountOfPeople</div>
        </div>
    }
</div>
