@model TicketRetailSystem.ViewModels.CountPeopleViewModel
@{
    ViewBag.Title = "Statystyka zakupu biletów";
}

<h2>Statistics of ticket sale </h2>

<div class="panel-group">
    @foreach (var tt in Model.TicketTypesWithAmount)
    {
        <div class="panel panel-default">
            <div class="panel-heading">Zone : @tt.Zone</div>
            <div class="panel-body">Amount of people: @tt.AmountOfPeople</div>
        </div>
    }
</div>
