@model TicketRetailSystem.ViewModels.TicketTypeViewModel
@{
    ViewBag.Title = "Statystyka zakupionych biletów";
}

<h2>Statistics of tickets</h2>

<div class="panel-group">
    @foreach (var tt in Model.TicketZonesWithAmount)
    {
        <div class="panel panel-default">
            <div class="panel-heading">Ticket type: @tt.CardType</div>
            <div class="panel-body">Amount of tickets: @tt.AmountOfTickets</div>
        </div>
    }
</div>
