@model TicketRetailSystem.Models.Entity.Ticket

@{
    ViewBag.Title = "GetByTicketType";
}

<h2>GetByTicketType</h2>

<p>
    @Model.Id : @Model.TicketType.Id : @Model.TicketType.DiscountType : @Model.ValidFromDate
</p>