@model TicketRetailSystem.ViewModels.ProfitViewModel
@{
    ViewBag.Title = "GetTotalCostOfTickets";
}

<h3>Łączny zysk ze sprzedaży w przedziale czasu @Model.StartDate.ToString("dd.MM.yyyy") - @Model.EndDate.ToString("dd.MM.yyyy") </h3>

<h1>@Model.Profit</h1>