@model TicketRetailSystem.ViewModels.ProfitViewModel
@{
    ViewBag.Title = "Łączny zysk z biletów";
}

<h3>Total profit @Model.StartDate.ToString("dd.MM.yyyy") - @Model.EndDate.ToString("dd.MM.yyyy") </h3>

<h1>@Model.Profit</h1>