@model TicketRetailSystem.ViewModels.DateViewModel
@{
    ViewBag.Title = "Wybierz datę";
}

<h2>Wybierz datę</h2>

@using (Html.BeginForm("GetByDate", "Ticket", FormMethod.Post, Url.Action("ticket/transactions")))
{
    <div class="form-group">
        <label>Data transakcji (YYYY-MM-DD)</label>
        @Html.TextBoxFor(d => d.CurrentDate, new { @class = "form-control" })
        <br />
        <button type="submit" class="btn btn-primary"> Wyszukaj </button>
    </div>
}
